// import Inter as a font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// set Inter as a font
$body-font-family: "Inter", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

// link colours
$link-color: #DEA700;

// sidebar colour
$sidebar-color: #BFE6F2;

// body colour
$body-background-color: #F5F5F5;
